<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MBFoundation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MBUIKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Standard.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>913BEA2021B6B552005FF1BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>913BEA8321B6BC82005FF1BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>913BEA9121B6BCC9005FF1BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>913BEAA321B6BDE6005FF1BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>913BEAAB21B6BDE6005FF1BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
